<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dsige.dsigeproyectos">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:name=".data.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="q">
        <activity android:name=".ui.activities.logistica.AprobationDetailActivity" />
        <activity android:name=".ui.activities.logistica.AprobacionActivity" />
        <activity android:name=".ui.activities.logistica.MenuAprobacionActivity" />
        <activity android:name=".ui.activities.logistica.RequerimientoFormActivity" />
        <activity android:name=".ui.activities.logistica.RequerimientoActivity" />
        <activity android:name=".ui.activities.engie.RequerimientoSolicitudActivity" />
        <activity android:name=".ui.activities.engie.SolicitudMaterialFormActivity" />
        <activity android:name=".ui.activities.engie.ParteDiarioActivity" />
        <activity android:name=".ui.activities.FiltroActivity" />
        <activity android:name=".ui.activities.engie.ParteDiarioFormActivity" />
        <activity android:name=".ui.activities.FirmActivity" />
        <activity android:name=".ui.activities.trinidad.MenuActivity" />
        <activity android:name=".ui.activities.SubMainActivity" />
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.PreviewCameraActivity" />
        <activity android:name=".ui.activities.CameraActivity" />
        <activity android:name=".ui.activities.trinidad.RegistroActivity" />
        <activity android:name=".ui.activities.trinidad.DetailActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.PrincipalActivity" />
    </application>

</manifest>